body {
    margin: 0;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
  }
  
  .img-container {
    max-width: 150px;
  }
  
  .image {
    border-radius: 100%;
    width: 100%;
  }
  
  .about {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 3em;
  }
  
  .social a {
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 3em;
    color: #000000;
    font-size: 1.5rem;
  }
  
  .social a:hover,
  .social a:visited,
  .social a:active {
    color: #000000;
  }
  